<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baraka Home</title>
    <link rel="stylesheet" href="res/css/home.css">

</head>
<body>
    
    <div class="fd">

        <h4>WELCOME TO BARAKA HOME PAGE</h4>
    
        <p>The year to blossom and sprout out <br>
           Where everybody is somebody</p>
    
           <button type="submit"> <a href="sign" id="toggleForm">  Signup</a></button>
    
    </div>

    <%- include('footer') -%>
